*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 100%;
    font-family:sans-serif;
}

header{
    /* display:flex; */
}
.head{
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    height: 120px;

}
.logo{
    width: 110px;
    height: 110px;
}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}
#menu li a{
    color:#000;
    text-decoration: none;
    font-size: 18px;
}
section{
    width: 100%;
    float: left;
    height: 100vh;
}
.miami{
    width: 100%;
    height: 80vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./images/pexels-elvis-vasquez-421655.jpg) ;
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    
    
}
.h1-miami{
    color: white;
    position: relative;
    top: 40%;
    font-size: 83px;
}
.p-miami{
    color: white;
    position: relative;
    top: 40%;
    font-size: 20px;
}
.accordion__button{
    display: block;
    width: 20%;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #333333;
    color:#ffffff;
    text-align: left;
    transition: background 0.2s;
    position: relative;
    left: 38%;
    border-radius: 2px;
}

.accordion__button::after{
    content:'\25be';
    float:right;
    transform: scale(1.5);
}
.accordion__button--active + .accordion__content{display:block}
.accordion__button--active{background: #555555;}
.accordion__button--active::after{content:'\25b4'}

.accordion__content{
    /* overflow: hidden;
    max-height: 0;
    transition:max-height 0.2s; */


    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: sans-serif;
    background: #ffffff;

    display: none;
    overflow:auto ;
}
.divdos{
    margin-top:10%;
    width: 50%;
    float: left;
    
}
.h1-divdos{
    text-align: center;
}
.p-divdos{
    text-align: center;
    font-size: 23px;
    margin-left: 15%;
    margin-right: 15%;
}
.p-divdoss{
    text-align: center;
    margin-left: 18%;
    margin-right: 18%;
}
.miami-foto{
    margin-top:7%
}


.div-adevertising-right{
    padding-top: 2%;
    width: 33.33%;
    float: right;
    /* border-style: solid;
    border-color: black; */
    height: 100vh;
}
.div-adevertising-left{
    padding-top: 10%;
    width: 33.33%;
    float: left;
    /* border-style: solid;
    border-color: black; */
    height: 100vh;
}
.div-adevertising-center{
    width: 33.33%;
    margin:0 auto;
    /* border-style: solid;
    border-color: black; */
    height: 100vh;
}
.img-advertising{
    width: 100%;
    height: 99.5vh;
}
.h1-ad{
    text-align: center;
    
}
.p-ad{
    text-align: center;
    font-size: 18px;
    margin-left: 12%;
    margin-right: 12%;
}
.div-seo-right{
    width: 33.33%;
    float: right;
    /* border-style: solid;
    border-color: black; */
    height: 100vh;
}
.div-seo-left{
    width: 33.33%;
    float: left;
    /* border-style: solid;
    border-color: black; */
    height: 100vh;
}
.div-seo-center{
    width: 33.33%;
    margin:0 auto;
    /* border-style: solid;
    border-color: black; */
    height: 100vh;
    padding-top: 10%;
}
#SEO{
    margin-top: 8%;
}
.carou1{
    margin-top: 10%;
    width: 50%;
    float: left;
}
.img-car{
    width: 400px;
    height: 400px;
    margin-left: 23%;
}
.carou2{
    margin-top: 10%;
    width: 50%;
    float: right;
    
}
.car-h1{
    text-align: center;
    font-size: 33px;
}
.car-p{
    margin-top: 5%;
    margin-right: 12%;
    margin-left: 12%;
}
/* #SOCIAL{
    border-style: solid;
    margin-top: 5%;
    
   
} */
.contact{
    background-color: black;
    width: 100%;
    height: 400px;
    overflow: auto;
}
.contact h1{
    color: #ffffff;
    margin-top: 4%;
    
    text-align: center;
}
.contact ul li{
    color: white;
    margin-top: 3%;
    /* margin-left: 2%;  */
    font-size: 15px;
    list-style-type: none;
    /* margin-left: 38%; */
    text-align: center;
    margin-bottom: -1%;
}
